// @import "~bootstrap/scss/bootstrap";
@import "~bootstrap/dist/css/bootstrap.min.css";

@import "grid.css";
@import "index.css";


html {
    box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

body {
    margin: 0px;
}

img {
    border-style: none;
}

button,
[type="button"],
[type="submit"],
[type="reset"] {
    -webkit-appearance: button;
}

.form-control:focus {
    border-color: inherit;
    -webkit-box-shadow: none;
    box-shadow: none;
    border: 0
  }
.form-control {
    border-color: inherit;
    -webkit-box-shadow: none;
    box-shadow: none;
    border: 0
}

.btn {
    border-color: inherit;
    -webkit-box-shadow: none;
    box-shadow: none;
    border: 0   
}
.btn:focus {
    border-color: inherit;
    -webkit-box-shadow: none;
    box-shadow: none;
    border: 0   
}

input {
    font-size: 1em;
}
textarea {
    overflow: auto;
    font-size: 1.1em;
}

[hidden] {
    display: none;
}

.tab1 { padding-left: 4em; }
.tab2 { padding-left: 8em; }
.tab3 { padding-left: 12em; }
.tab4 { padding-left: 16em; }
.tab5 { padding-left: 20em; }
.tab6 { padding-left: 24em; }
.tab7 { padding-left: 28em; }
.tab8 { padding-left: 32em; }
.tab9 { padding-left: 36em; }
.tab10 { padding-left: 40em; }
.tab11 { padding-left: 44em; }
.tab12 { padding-left: 48em; }
.tab13 { padding-left: 52em; }
.tab14 { padding-left: 56em; }
.tab15 { padding-left: 60em; }
.tab16 { padding-left: 64em; }

.btncadastrar {
    display:inline-block;
    width: 100%;
    // margin-left: 34%;
    // padding:6px 4px;
    // border:1px solid #ccc;
}